body{
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
    color: #4d4d4d;
    background-color: #fff4e0;
}
h1,h2{
    text-align: center;
    letter-spacing: 0.1em;
}
input {
    width: 50%;
    padding: 5px;
    margin: 5px;
    font-size: 2em;
}
.choiceButton{
    text-align: center;
}
#submit {
    font-size: 0.9em;
    position: relative;
    text-decoration: none;
    padding: 0.5em 1.2em;
    margin: 20px;
    color: #FFF;
    background: #ffbc61;
    border-bottom: solid 2px #ffc679;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
}
#submit:active{
    border-bottom: solid 2px #ffbc61;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
#submit:hover{
    cursor: pointer;
}
fieldset{
    padding: 0.5em 1em;
    margin: 2em 0;
    border: solid 2px #f99292;
}
#applicantNumber{
    font-size: 1.3em;
    letter-spacing: 0.1em
}
#js-list{
    font-size: 1.3em;
    text-align: center;
    list-style: none;
}